body {
    background-color: #cae6e8;
}

h1#mainHeader {
    font-size: 4em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 0.12em;
    word-spacing: 0.12em;
    color: #42596b;
    text-shadow:5px 8px 10px grey;
    text-align:center;
}

#board {
    box-shadow: grey 0px 0px 25px;
    border: 3px solid black;
    background-color: #deb8879e;
    width: 650px;
    height: 650px;
    margin-left: auto;
    margin-right: auto;
    border-collapse:collapse;
}

td {
    width: 12%;
    height:12%;
    padding:-20px;
}

td.active {
    background-color: #474b52;
}

div {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
   
    text-align: center;
    font-size: 2em;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-weight: 900;
    line-height:50px;
}

div.red {
   background-color: #ed6d82;
}

div.white {
   background-color: #edf1f7;
 }
 
 div.playable:hover{
	border:4px solid yellow;
}

.player-name-display {
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    margin-top: 10px;
  }

  #playerNames {
    border: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 100px;
    padding-right: 15%;
    padding-left: 15%;
    align-items: center;
}

#player1Name {
    color: rgb(0, 0, 0);
    background-color: #007bff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    border-radius: 10%;
}

#player2Name {
    color: rgb(0, 0, 0);
    background-color: #007bff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    border-radius: 10%;
}

#alertContainer{
    border: 0;
}

#NewGameButton{
    color: #fff;
    cursor: pointer;
}

#liveAlertBtn{
    cursor:auto;
    vertical-align: middle;
    padding: .375rem .75rem;
    border-radius: .25rem;
}

#customAlert{
    --bs-alert-color:#42596b;
    text-align: center;
    --bs-alert-bg:none;
    --bs-alert-border-color: none;
    

}

.error-message {                                    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: orange;
    color: black;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    z-index: 9999;
}

.turn-message {
    top: 15px;
    left: 15px;
    height: max-content;
    width: max-content;
    position: absolute;
    color: #fff;
    background-color: #007bff;
    border: 2px solid #007bff;
    border-radius: 20px;
    padding: 5px 20px 5px 20px;
    text-align: center;
    font-size: 24px;
    }