body {
    background-color: #cae6e8;
}

h1#mainHeader {
    margin-top: 110px;
    font-size: 4em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 0.12em;
    word-spacing: 0.12em;
    color: #42596b;
    text-shadow:5px 8px 10px grey;
    text-align:center;
    font-weight: bold;
}

#board {
    position: absolute;
    top: 28%;
    right: 20%;
    left: 20%;
    box-shadow: grey 0px 0px 25px;
    border: 3px solid black;
    background-color: #deb8879e;
    width: 650px;
    height: 650px;
    margin-left: auto;
    margin-right: auto;
    border-collapse:collapse;
}

td {
    width: 12%;
    height:12%;
    padding:-20px;
}

td.active {
    background-color: #474b52;
}

div {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 2em;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-weight: 900;
    line-height:50px;
}

div.red {
   background-color: #ed6d82;
}

div.white {
   background-color: #edf1f7;
 }
 
 div.playable:hover{
	border:4px solid yellow;
}

.player-name-display {
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    margin-top: 10px;
  }

  #playerNames {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 100px;
    padding-right: 15%;
    padding-left: 15%;
    display: flex;
    align-items: center;
    pointer-events: none;
}

#player1Name, #player2Name {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 180px;
    width: 180px;
    background-size: cover;
    border-radius: 20px;
    font-size: 30px;
    pointer-events: fill;
}


#playerNames img{
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

#playerNames p{
    margin: 0;
    overflow: auto;
    text-overflow: unset;
}

#player1Name {
    color: #000000;
    right: 15%;
    background-image: url('images/white_peas.png');
}

#player2Name {
    color: #fff;
    left: 15%;
    background-image: url('images/black_peas.png');
}


#alertContainer{
    border: 0;
}

#NewGameButton{
    color: #fff;
    cursor: pointer;
}

#liveAlertBtn{
    font-size: 30px;
    font-weight: bold;
    height: auto;
    width: auto;
    cursor:auto;
    vertical-align: middle;
    border-radius: 20%;
    position: absolute;
    top: 100px;
    right: 0px;
}

#customAlert{
    height: auto;
    width: auto;
    position: absolute;
    top: 10px;
    right: 10px;
    --bs-alert-color:#42596b;
    text-align: center;
}

.error-message {      
    align-items: center;                            
    position: absolute;
    top: 50px;
    left: 180px;
    transform: translate(-50%, -50%);
    background-color: rgb(185, 43, 21);
    color: #fff;
    border-radius: 5px;
    text-align: center;
    z-index: 9999;
    height: max-content;
    width: max-content;
    position: absolute;
    border: 2px solid #e08e4f;
    border-radius: 20px;
    padding: 5px 20px 5px 20px;
    font-size: 30px;
}

.turn-message {
    align-items: center;                            
    position: absolute;
    text-align: center;
    top: 18px;
    right: 30px;
    height: max-content;
    width: max-content;
    position: absolute;
    color: #fff;
    background-color: #007bff;
    border: 2px solid #007bff;
    border-radius: 20px;
    padding: 5px 20px 5px 20px;
    font-size: 30px;
    }